body {
    font-family: Arial;
    background-color: #f5f5f5;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 10px;
    text-align: center;
}
