{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h2>👑 Admin Dashboard</h2>
</div>

<!-- STATS -->
<div class="card-grid">

    <div class="donation-card">
        <h3>📊 Total Donations</h3>
        <p>{{ total_donations }}</p>
    </div>

    <div class="donation-card">
        <h3>🙋 Total Requests</h3>
        <p>{{ total_requests }}</p>
    </div>

    <div class="donation-card">
        <h3>👥 Total Users</h3>
        <p>{{ total_users }}</p>
    </div>

</div>

<br>

<!-- RECENT DONATIONS -->
<h3 style="color:white;">Recent Donations</h3>

<div class="card-grid">
    {% for d in recent_donations %}
    <div class="donation-card">
        <p><b>{{ d[1] }}</b></p>
        <p>{{ d[2] }}</p>
        <p>{{ d[3] }}</p>
    </div>
    {% endfor %}
</div>

<br>

<!-- RECENT REQUESTS -->
<h3 style="color:white;">Recent Requests</h3>

<div class="card-grid">
    {% for r in recent_requests %}
    <div class="donation-card">
        <p><b>{{ r[1] }}</b></p>
        <p>{{ r[2] }}</p>
        <p>{{ r[3] }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}