<!DOCTYPE html>
<html>
<head>
    <title>Food Donation Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">

<nav>
    <h2>FoodDonate</h2>
   <div>
{% if session.get('role') == 'admin' %}
    <a href="/admin">Dashboard</a>
    <a href="/donations">All Donations</a>
    <a href="/requests">All Requests</a>

{% elif session.get('role') == 'donor' %}
    <a href="/donate">Donate</a>
    <a href="/donations">My Donations</a>

{% elif session.get('role') == 'receiver' %}
    <a href="/request">Request</a>
    <a href="/requests">My Requests</a>

{% endif %}

{% if session.get('user_id') %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}
</div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>© 2026 Food Donation Platform</p>
</footer>

</body>
</html>
